html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    font-family: 'Fira Sans', Arial, sans-serif;
    font-size: 15px;
    background-color: #f5dfb3;
    min-height: 100vh;
    overflow: scroll;
}
.jumbotron{
    margin-top: 3%;
    color: #f5dfb3;
    background-color: #DE6B48  !important;
}
#filters_row{
    /*margin: 1%;*/
}
#filters_row .col-xs-4{
    width: 32.66%;
}
/*#imageLoader{*/
/*    border: 2px #0b2e13 solid;*/
/*    margin: 2%;*/
/*}*/
#imageCanvas{
    width: 90%;
    border: 2px #0b2e13 solid;
    margin: 5%;
}
[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}

[type="file"] + label {
    background: #f5dfb3;
    border: #DE6B48 2px solid;
    border-radius: 5px;
    color: #0b2e13;
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
    font-weight: 600;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem 50px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
}
[type="file"]+label:hover{
    background: #DE6B48;
    color: white;
}


.main_info{
    background-color: #DE6B48;
    border: #0b2e13 2px solid;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2px;
    border-radius: 5px;
}
.secondary_info{
    background-color: #68A357;
    border: #0b2e13 2px solid;
    border-radius: 5px;
    width: 98%;
    margin-bottom: 2%;
    margin-left: 1%;
    margin-right: 1%;
}
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
h1 {
    font-size: 4em;
    font-family: 'Fira Sans', sans-serif;
}

h2 {
    font-size: 2.66em;
    font-family: 'Fira Sans', sans-serif;
    padding: 2%;
}

h3 {
    font-size: 1.85em;
    font-family: 'Fira Sans', sans-serif;
    padding: 1%;
}

h4 {
    font-size: 1.5em;
    font-family: 'Fira Sans', sans-serif;
}

h5 {
    font-size: 1.33em;
    font-family: 'Fira Sans', sans-serif;
}

h6 {
    font-size: 0.86em;
    font-family: 'Fira Sans', sans-serif;
}

img, picture {
    border: 2px solid #DE6B48;
    border-radius: 5px;
}

img:hover {
    box-shadow: 0 0 10px #DE6B48;
}
.button{
    background: #f5dfb3;
    border: #DE6B48 2px solid;
    border-radius: 5px;
    margin: 0 35%;
    padding: 1% 5%;
    color: #0b2e13;
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
    font-weight: 600;
}
.button:hover{
    background: #DE6B48;
    color: white;
    cursor: pointer;
}

#saveImage{
    background: #f5dfb3;
    border: #4CAF50 2px solid;
    border-radius: 5px;
    margin: 0% 35% !important;
    padding: 1% 5%;
    color: #4CAF50;
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
    font-weight: 600;
}

#saveImage:hover{
    background: #4CAF50;
    color: white;
    cursor: pointer;
}